/* single-product-nav */

.single-product-nav {
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #000;
    font-size: 1.12rem;
    font-weight: 500;
    padding: 0px;
    margin-top: 60px;
    
}
.single-product-nav ol {
    display: flex;
    flex-wrap: wrap;
    -moz-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    gap: 10px;
}

.single-product-nav ol li a{
    color: #000;
    text-decoration: none;
}
.single-product-nav ol li p{
    margin-bottom: 0px !important;
}
.single-product-nav ol li:last-child > a,
.single-product-nav ol li:last-child {
    color: #ba0c2f;
}

/*panel*/

.panel {
    background:#F8F8F8;
    border: none;
    box-shadow: none;
    display: flex;
    border-radius: 5px;
    padding: 25px 20px 40px;
    gap: 50px;
    align-items: center;
    margin: 0px;
    margin-bottom: 50px;
    transition: ease-in-out;
}

.prod-gallory {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
}
.pro-img-details {
    background-color: #232a34;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 4px 2px;
}
.pro-img-details img {
    width: 100%;
    height: 420px;
}
.prod-detail {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: fit-content;
}
.prod-detail .product-item-heading {
    align-items: flex-start;
    font-size: 1.25rem;
    font-weight: 500;
}
.prod-detail .product-item-heading > h2 {
    align-items: flex-start;
    color: #444;
    font-size: 1.25rem;
    font-weight: 500;
}
.prod-detail .product-item-heading > span {
    align-items: flex-start;
    color: #b69a63;
    font-size: 1rem;
}

.prod-detail .item-pricing {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.prod-detail .item-pricing  .price{
    color: #999;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: -4px;
    position: relative;
}
.prod-detail .item-pricing  .price::before{
    border-color: currentcolor #ba0c2f #ba0c2f;
    border-top-color: currentcolor;
    border-top: 2px solid #ba0c2f;
    content: "";
    left: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.prod-detail .item-pricing .new-price {
    color: #ba0c2f;
    font-size: 1.25rem;
    font-weight: 600;
}
.prod-detail .form-group > label {
    margin-bottom: 10px;
}
.prod-detail .quantity {
    max-width: 100px;
}
.prod-detail > p{
    color: #444;
    font-size: .85rem;
}
.prod-detail > button{
    background-color: #ba0c2f;
    width: fit-content;
    border-radius: 4px;
    color: #fff;
    border: none;
    outline: none;
    font-size: .85rem;
    height: -moz-fit-content;
    margin-right: -16px;
    padding: 8px 50px;
}

.Suggestions {
    margin-top: 20px;
    margin-bottom: 100px;
}