/* Start Banner section  */
#carouselAutoplaying .carousel-item {
    max-height: 420px;
}

#carouselAutoplaying .carousel-item img {
    max-height: 400px;
    object-fit: contain;
}
  
/* End Banner section  */